
<div class="thumbnail">
    <%= image_tag @ad.picture.url(:large), class:"img-responsive" %>
    <div class="caption-full">
        <h4 class="pull-right"><%= humanized_money_with_symbol @ad.price %></h4>

          <% if @ad.active? %>
            <% if member_signed_in? %>
              <div class="text-right">
                <%= form_tag(checkout_payments_path) do%>
                  <%= hidden_field_tag :ad_id, @ad.id %>
                  <%= submit_tag "Comprar", class:"btn btn-success", data:{confirm: "Confirmar compra?"} %>
                <% end %>
              </div>
            <% else %>
              <div class="text-right">
                  <%= link_to "Entrar para comprar", new_member_session_path, class:"btn btn-success" %>
              </div>
            <% end %>
          <% else %>
            <div class="text-right">
              <%= link_to "#{@ad.status_i18n}", '', class:"btn btn-success", disabled: true %>
            </div>
          <% end %>

        <h4><a href="#"><%= @ad.title %></a></h4>
        <%= @ad.description.html_safe %>
        <%= link_to "Imprimir PDF", site_ad_detail_path(format: :pdf), class: 'btn btn-danger'%>
    </div>
</div>

<div class="well well-sm">
  <div class="ratings">
      <p class="pull-right"><%= @ad.rates('quality').count %> Avaliações </p>
      <%= rating_for @ad, 'quality', star_path: '/images/ratyrate' %>
  </div>
</div>

<div class="well">

    <% if member_signed_in? %>
      <div class="text-right">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">
            Deixe um comentário
          </button>
      </div>
    <% else %>
      <div class="text-right">
          <%= link_to "Entrar para comentar", new_member_session_path, class:"btn btn-success" %>
      </div>
    <% end %>

    <!-- Button trigger modal -->

    <hr>

    <%= render partial: 'site/ad_detail/comments'%>

</div>

<%= render partial: 'site/ad_detail/comment_modal'%>
