
<div class="thumbnail">
    <%= wicked_pdf_image_tag @ad.picture.url(:large), class:"img-responsive" %>
    <div class="caption-full">
        <h4 class="pull-right"><%= humanized_money_with_symbol @ad.price %></h4>
        <h4><a href="#"><%= @ad.title %></a></h4>
        <%= @ad.description.html_safe %>
    </div>
</div>
