
<div class="container">

    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Enviar email de recuperação</div>
                </div>

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class:"form-horizontal", role:"form"}) do |f| %>

                          <div style="margin-bottom: 25px" class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                              <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
                          </div>

                          <div style="margin-top:10px" class="form-group">
                              <!-- Button -->
                              <div class="col-sm-12 controls">
                                <%= f.submit "Enviar redefinição", class:"btn btn-success" %>
                              </div>
                          </div>

                    <% end %>
              </div>
          </div>
    </div>
</div>

<% flash.each do |key, value| %>
    <%= javascript_tag "$.notify( { message: '#{value}'}, { type: 'danger', placement: {
      from: 'top', align: 'center' }});" %>
<% end %>

<% unless devise_error_messages!.blank? %>
    <% resource.errors.full_messages.each do |message|%>
      <%= javascript_tag "$.notify( { message': '#{message}'}, { type: 'danger', placement: {
        from: 'top', align: 'center' }});" %>'
    <%end%>
<% end %>
