
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name, role: "form")) do |f| %>
                        <fieldset>
                            <div class="form-group">
                                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "E-mail", type: "email", autofocus: "autofocus" %>
                            </div>
                            <div class="form-group">
                                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", type:"password" %>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <%= f.check_box :remember_me %>Remember me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <%= f.submit "Log in", class: "btn btn-lg btn-success btn-block"%>
                            <%= render "admins/shared/links" %>
                        </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<% flash.each do |key, value| %>
    <%= javascript_tag "$.notify( { message: '#{value}'}, { type: 'danger', placement: {
      from: 'top', align: 'center' }});" %>
<% end %>
