<div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Nova mensagem</h4>
      </div>
      <div class="modal-body">
        <%= form_tag(backoffice_send_mail_index_path, remote: true) do%>

            <div class="form-group">
              <label for="recipient-text" class="control-label">Para:</label>
              <%= text_field_tag(:'recipient-text', nil, class:"form-control", readonly: "readonly") %>
            </div>

            <div class="form-group">
              <label for="recipient-name" class="control-label">Assunto:</label>
              <%= text_field_tag(:'subject-text', nil, class:"form-control", autocomplete: :off, required: "required") %>
            </div>

            <div class="form-group">
              <label for="message-text" class="control-label">Menssagem:</label>
              <%= text_area_tag(:'message-text', nil, class:"form-control", required: "required") %>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              <%= submit_tag "Enviar", class: "btn btn-primary" %>
            </div>

        <%end%>
      </div>

    </div>
  </div>
</div>
