/*
 *= require bootstrap
 */

 /*!
  * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
  * Copyright 2013-2016 Start Bootstrap
  * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
  */
  p#time-ago{
    margin-bottom: -4px;
  }

 body {
     padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
 }

 .slide-image {
     width: 100%;
 }

 .carousel-holder {
     margin-bottom: 30px;
 }

 .carousel-control,
 .item {
     border-radius: 4px;
 }

 .caption {
     height: 130px;
     overflow: hidden;
 }

 .caption h4 {
     white-space: nowrap;
 }

 .thumbnail img {
     width: 100%;
 }

 .star img {
     width: 15px;
 }

 .ratings {
     padding-right: 10px;
     padding-left: 10px;
     color: #d17581;
 }

 .thumbnail {
     padding: 0;
 }

 .thumbnail .caption-full {
     padding: 9px;
     color: #333;
 }

 footer {
     margin: 50px 0;
 }
