<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EscampooApp</title>

    <%= wicked_pdf_stylesheet_link_tag    'application' %>
    <%= wicked_pdf_stylesheet_link_tag    'site' %>

    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div id="home-detail" class="col-md-9">
                <div class="row">
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <%= wicked_pdf_javascript_include_tag 'application' %>
    <%= wicked_pdf_javascript_include_tag 'site' %>

</body>

</html>
